<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotocopiadora</title>
    <script src="https://kit.fontawesome.com/5dd57f835c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="cagarSaldo.css">
</head>
<body>

    <div id="top__of-page">
        <header>
            <a href="/inicio"><div id="img_top"><img src="IMG-20231211-WA0080.jpg"></div></a>
        </header>
        <div id="menu-icon"><a href="/inicio"><i class="fa-solid fa-user"></i></a></div>
    </div>


    <div id="main">
        <div id="aviso">
            <p>Todavía no estamos procesando los pagos de mercado pago de forma virtual! Podes cargar por transferencia mostrando el comprobante en fotocopiadora y acreditamos tu pago en la app</p>
        </div>    
    </div>

    
    <footer class="footer">
		
        <div class="footer__contenedor-info">
            <h3>Contacto:</h3>
            <ul>
                <li>Tel: +54 3413217015</li>
                <li>Email: fdelosestudiantes@gmail.com</li>
                <li>Instagram: <a href="https://www.instagram.com/9dejuliomnr/">9 de Julio</a></li>
            </ul>
        </div>
        <div class="footer__contenedor-info">
            <h3>Servicios:</h3>
            <ul>
                <li>Fotocopias</li>
                <li>Libros</li>
                <li>Librerìa</li>
            </ul>
        </div>
        <div id="footer__footer">
            <p>Creado por PicaWeb. Todos los derechos reservados</p>
        </div>
    </footer>


    
    <script src="scriptcargarsaldo.js"></script>
</body>
</html>