<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotocopiadora</title>
    <script src="https://kit.fontawesome.com/5dd57f835c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="comoFunciona.css">
</head>
<body>

    <div id="top__of-page">
        <header>
            <a href="/inicio"><div id="img_top"><img src="IMG-20231211-WA0080.jpg"></div></a>
        </header>
        <div id="menu-icon"><a href="/inicio"><i class="fa-solid fa-user"></i></a></div>
    </div>

    <div id="main">

        <div id="gral_container">
            <div class="parrafo">
                <b>¿Como funciona?</b>
                <p>A través de este sistema vas a poder hacer tus pedidos a la fotocopiadora de forma completamente virtual <br><br>
                    Una vez que haces tu pedido en la pestaña de pedidos, va a empezar a figurar en tu historial de transacciones <br><br>
                    A partir de ahí, una vez señado, la fotocopiadora va a empezar a trabajar en él. Cuando lo terminen, figurará como pedido listo.<br>
                    Tenes tiempo, hasta que retires tu pedido, de pagarlo de manera virtual con el saldo que figura en tu cuenta!
                </p>
            </div>

            <div class="parrafo">
                <b>¿Como puedo cargar saldo?</b>
                <p>
                    La carga de saldo se puede dar de 2 maneras diferentes: <br><br>
                    -> Presencialmente con efectivo o transferencia en la facultad. <br>
                    -> A través de la aplicación de manera virtual <br><br>
                    Lamentablemente, por ahora el servicio de recargar virtual no está habilitado, aunque ya estamos trabajando en eso!
                </p>
            </div>

            <div class="parrafo">
                <b>Para más dudas</b>
                <p>
                    Comunicate con nosotros para más dudas o información
                </p>

                <span>Tel: +54 3413217015</span> <br>
                
            </div>
        </div>

    </div>
    
    <footer class="footer">
		
        <div class="footer__contenedor-info">
            <h3>Contacto:</h3>
            <ul>
                <li>Tel: +54 3413217015</li>
                <li>Email: fdelosestudiantes@gmail.com</li>
                <li>Instagram: <a href="https://www.instagram.com/9dejuliomnr/">9 de Julio</a></li>
            </ul>
        </div>
        <div class="footer__contenedor-info">
            <h3>Servicios:</h3>
            <ul>
                <li>Fotocopias</li>
                <li>Libros</li>
                <li>Librerìa</li>
            </ul>
        </div>
        <div id="footer__footer">
            <p>Creado por PicaWeb. Todos los derechos reservados</p>
        </div>
    </footer>


    
    <script src="script.js"></script>
</body>
</html>