<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREB's</title>
    <script src="https://kit.fontawesome.com/5dd57f835c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    
    <div id="top__of-page">
        <header>
            <div id="img_top"><img src="IMG-20231211-WA0080.jpg"></div>
        </header>
        <div id="menu-icon"><a href="/login"><i class="fa-solid fa-user"></i></a></div>
    </div>



    <div id="main">

        <div id="main__cuenta">
            <h4><%= user.nombre %></h4>
            <span id="Fecha">Día Fecha y Hora</span>
            
        </div>
        
        <div id="main__utilities">
<<<<<<< HEAD
            <div class="main__utility orange prereserva" id="prereserva">
                <div class="utility__info">
                    <h4>Pre-reserva</h4>
                    <p>Manejar Opciones</p>
=======
            <div class="main__utility orange" id="prereserva">
                <div class="utility__info">
                    <h4>Pre-reserva</h4>
                    <p>Hace tus pedidos a la fotocopiadora</p>
>>>>>>> 4dfbc0dc3e2cb67c34418b4c8d7e77ce85a3f0c8
                    <span class="utility__span">Desde este formulario podes enviar tus archivos y toda la información necesaria para que empecemos a prepararlo! Después podés retirarlo en la facu presencialmente</span>
                </div>
                <a href="/prereservaDashboard"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
<<<<<<< HEAD
            <div class="main__utility orange prereserva" >
                <div class="utility__info">
                    <h4>Pedidos Pre-Reserva</h4>
                    <p>Leer Pedidos PreRerseva</p>
                    <span class="utility__span">Desde este formulario podes enviar tus archivos y toda la información necesaria para que empecemos a prepararlo! Después podés retirarlo en la facu presencialmente</span>
                </div>
                <a href="/pedidosPrereserva"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
=======
>>>>>>> 4dfbc0dc3e2cb67c34418b4c8d7e77ce85a3f0c8
            <div class="main__utility orange">
                <div class="utility__info">
                    <h4>Historial Pendientes</h4>
                    <p>Revisar pedidos pendientes</p>
                    <span class="utility__span">Desde este formulario podes enviar tus archivos y toda la información necesaria para que empecemos a prepararlo! Después podés retirarlo en la facu presencialmente</span>
                </div>
                <a href="/historial_pendientes"><i class="fa-solid fa-arrow-right"></i></a>
            </div>

            <div class="main__utility white">
                <div class="utility__info">
                    <h4>Historial transacciones General</h4>
                    <p>Todas las transacciones</p>
                    <span class="utility__span">Podés revisar todos los predidos que nos enviaste! Sabemos que es difícil llevar registro de todo así que decidimos ayudarte.</span>
                </div>
                <a href="/historial_general"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="main__utility orange">
                <div class="utility__info">
                    <h4>Lista Completa de Ususarios</h4>
                    <p>Todos los usuarios del sistema están disponibles</p>
                    <span class="utility__span">Tenés dudas de como funciona el sistema? Acá te contamos todo para que te quedes tranquilx</span>
                </div>
                <a href="/Usuarios"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
             <div class="main__utility white">
                <div class="utility__info">
                    <h4>Ingresar Nuevo Pedido</h4>
                    <p>Ingresar Pedido de un Cliente</p>
                    <span class="utility__span">Desde acá podés personalizar cada parte de tu cuenta para estar a gusto con todo!</span>
                </div>
                <a href="/IngresarPedido"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="main__utility orange">
                <div class="utility__info">
                    <h4>Cerrar Sesion</h4>
                    <p>Desde aca podes desloguearte</p>
                    <span class="utility__span">Siempre que cierres sesion en el navegador tendrás que reabrirla màs tarde</span>
                </div>
                <a href="/logout"><i class="fa-solid fa-arrow-right"></i></a>
            </div>

            <footer class="footer">
		
                <div class="footer__contenedor-info">
                    <h3>Contacto:</h3>
                    <ul>
                        <li>Tel: +54 3414790372</li>
                        <li>Email: age.sitiosweb@gmail.com</li>
                        <li>Instagram: AGE.SitiosWeb</li>
                    </ul>
                </div>
                <div class="footer__contenedor-info">
                    <h3>Servicios:</h3>
                    <ul>
                        <li>Tel: +54 3414790372</li>
                        <li>Email: age.sitiosweb@gmail.com</li>
                        <li>Instagram: AGE.SitiosWeb</li>
                    </ul>
                </div>
                <div id="footer__footer">
                    <p>Creado por PicaWeb. Todos los derechos reservados</p>
                </div>
            </footer>
        

        </div>
    </div>

    <script>
        const fecha = document.getElementById('Fecha');

        // fecha.textContent = Date.now();
        fecha.textContent = '14/2/2024';

    </script>
</body>
</html>