<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREB's</title>
    <script src="https://kit.fontawesome.com/5dd57f835c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    <div id="top__of-page">
        <header>
            <a href="/inicio"><div id="img_top"><img src="IMG-20231211-WA0080.jpg"></div></a>
        </header>
        <div id="menu-icon"><a href="/inicio"><i class="fa-solid fa-user"></i></a></div>
    </div>

    <% if (typeof messages !== 'undefined' && messages.length > 0) {%>
        <div class="alert alert-info" id="success_message">
            <p> <%= success %> </p>
            <i class="fa-solid fa-x"></i>
        </div>
    <%}%>

    <div id="main">

        <div id="main__cuenta">
            <h4><%= user.nombre %></h4>
            <span>$<%= user.saldo %></span>
            <p><a href="/Como_funciona">¿Cómo cargar saldo?</a></p>
        </div>

        <div id="main__utilities">
            <!-- <div class="main__utility orange" id="prereserva">
                <div class="utility__info">
                    <h4>Pre-reserva</h4>
                    <p>Hace tus pedidos a la fotocopiadora</p>
                    <span class="utility__span">Desde este formulario podes enviar tus archivos y toda la información necesaria para que empecemos a prepararlo! Después podés retirarlo en la facu presencialmente</span>
                </div>
                <a href="/prereserva"><i class="fa-solid fa-arrow-right"></i></a>
            </div> -->
            <div class="main__utility orange">
                <div class="utility__info">
                    <h4>Hacer un pedido</h4>
                    <p>Hace tus pedidos a la fotocopiadora</p>
                    <span class="utility__span">Desde este formulario podes enviar tus archivos y toda la información necesaria para que empecemos a prepararlo! Después podés retirarlo en la facu presencialmente</span>
                </div>
                <a href="/pedido"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="main__utility white">
                <div class="utility__info">
                    <h4>Cargar Saldo</h4>
                    <p>Cargá saldo para seguir aprovechando la aplicación</p>
                    <span class="utility__span">Por ahora solo podes cargar saldo desde la fotocopaidora de manera física. Proximamente vas a podes cargar virtual desde Mercado Pago!</span>
                </div>
                <a href="/cargar_saldo"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="main__utility orange">
                <div class="utility__info">
                    <h4>Historial transacciones</h4>
                    <p>Recordá todo lo que pediste</p>
                    <span class="utility__span">Podés revisar todos los predidos que nos enviaste! Sabemos que es difícil llevar registro de todo así que decidimos ayudarte.</span>
                </div>
                <a href="/historial"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div class="main__utility white">
                <div class="utility__info">
                    <h4>¿Como funciona?</h4>
                    <p>Sacate las dudas</p>
                    <span class="utility__span">Tenés dudas de como funciona el sistema? Acá te contamos todo para que te quedes tranquilx</span>
                </div>
                <a href="/Como_funciona"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
             <div class="main__utility orange">
                <div class="utility__info">
                    <h4>Cerrar Sesion</h4>
                    <p>Desde aca podes desloguearte</p>
                    <span class="utility__span">Siempre que cierres sesion en el navegador tendrás que reabrirla màs tarde</span>
                </div>
                <a href="/logout"><i class="fa-solid fa-arrow-right"></i></a>
            </div>
 

          
        </div>
    </div>

    <footer class="footer">
		
        <div class="footer__contenedor-info">
            <h3>Contacto:</h3>
            <ul>
                <li>Tel: +54 3413217015</li>
                <li>Email: fdelosestudiantes@gmail.com</li>
                <li>Instagram: <a href="https://www.instagram.com/9dejuliomnr/">9 de Julio</a></li>
            </ul>
        </div>
        <div class="footer__contenedor-info">
            <h3>Servicios:</h3>
            <ul>
                <li>Fotocopias</li>
                <li>Libros</li>
                <li>Librerìa</li>
            </ul>
        </div>
        <div id="footer__footer">
            <p>Creado por PicaWeb. Todos los derechos reservados</p>
        </div>
    </footer>


    

    <script src="script.js"></script>
</body>
</html>