<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREB's</title>
    <script src="https://kit.fontawesome.com/5dd57f835c.js" crossorigin="anonymous"></script>
    
</head>
<body>
    
    <form method="post">
        <h3>Ingreso</h3>
        <input type="number" name="username" id="username" placeholder="Inserte su DNI">
        <input type="password" name="password" id="password" placeholder="Contraseña">
        <input type="submit" value="Login">
    </form>

    
</body>
</html>