<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>¿usuario, becario o administrador?</h1>
    <a href="/inicio">Usuario</a>
    <a href="/dashboard">becario</a>
    <a href="/logout">logout</a>
</body>
</html>