
:root {
    --fondo: #ffffff;
    --text: #222222;
    --lightBlue: #009ece;
    --Blue: #265DA6;
    --thirdty: #9BCF38;


}

* {
    font-family: sans-serif;
    overflow-x: hidden;

}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;

    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

}

#top__of-page {
    /* border: 1px solid black; */
    background-color: var(--lightBlue);

    box-sizing: border-box;

    padding: 0;
    margin: 0%;
    width: 100%;
    /* max-width: 100%; */
    min-height: 50px;
    height: 90px;
    /* position: fixed;
    top: 0; */
    left: 0;

    display: flex;
    justify-content: left;

}

header {
    /* border: 1px solid black; */
    color: var(--Blue);
    width: 100%;
    max-width: 100%;
    height: 90px;
    min-height: 50px;
    padding: 0;
    margin: 0;

    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 5;
    font-family: montserrat;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

header h1 {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    margin: 0%;
    padding-left: 2.8rem;


    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#img_top {
    /* border: 1px solid black; */
    height: 70px;
    width: 400px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    overflow: hidden;
}

#img_top img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#menu-icon {
    /* border: 1px solid var(--text); */
    color: var(--Blue);
    max-width: 20%;
    width: 100px;
    height: 80px;
    padding: 0%;
    margin: 0%;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fa-user {
    border: 2px solid var(--Blue);
    color: var(--Blue);
    border-radius: 50%;
    padding: 10px;
    font-size: 1.5rem;

}

#main {
    /* border: 2px solid blue; */

    width: 100%;
    min-height: 300px;
    height: 1fr;

    padding: 0%;
    margin: 0%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

        #gral_container {
            border: 10px dashed var(--thirdty);
            border-radius: 4px;
            background-color: var(--lightBlue);
            text-align: center;
            min-height: 500px;
            height: 1fr;
            width: 60%;
            min-width: 260px;
            margin: 100px 20%;
            padding: 20px 10%;


            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .parrafo {
            text-align: center;
            color: var(--fondo);
            margin: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .parrafo p {
            text-align: center;
        }

        .parrafo b {
            text-align: center;
        }

        .parrafo span {
            text-align: center;
            min-width: 220px;
            width: 51%;
            text-align: center;
        }



#bottom_of-page {
    background-color: inherit;

    width: 100%;
    height: 300px;

}


.footer {
	
    width: 100%;
    height: 1fr;
    display: flex;
    padding: 2vw;
    background-color: var(--Blue);
    color: white;
    margin-top: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer__contenedor-info {
    /* border: 1px solid white; */
    min-width: 300px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.footer__contenedor-info h3 {
    /* border: 1px solid white; */
    width: 100%;
    padding-left: 1vw;
    margin: 0%;
    font-family: opensans;
    font-size: 1.4rem;
}

.footer__contenedor-info li {
    /* border: 1px solid white; */
    font-family: montserrat;
    font-size: 1rem;
    color: #fff;
    margin: 1vh;
    transition: all 600ms;

}

.footer__contenedor-info li:hover {
    transition: all 600ms;
    color: #bbb;
    border-left: 1px solid #fff;
    padding-left: 10px;
}

.footer__info {

        border: 1px solid white;
        box-sizing: border-box;


}

#footer__footer {
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    color: #ddd;
    width: 90%;
    font-family: montserrat;
    font-size: .8rem;	
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: var(--fondo);
    font-family: opensans;
}

@media screen and (max-width: 450px) {

    #menu-icon {
        display: none;
    }

}



@font-face {
	font-family: Montserrat;
	src: url('Montserrat-VariableFont_wght.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: opensans;
	src: url('OpenSans-VariableFont_wdth\,wght.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: notosans;
	src: url('NotoSans-Black.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: pacifico;
	src: url('Pacifico-Regular.ttf');
	font-style: normal;
	font-weight: normal;
}
