
:root {
    --fondo: #ffffff;
    --text: #222222;
    --lightBlue: #009ece;
    --Blue: #265DA6;
    --thirdty: #9BCF38;

}

* {
    font-family: sans-serif;
    overflow-x: hidden;

}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;

    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

}

#top__of-page {
    /* border: 1px solid black; */
    background-color: var(--lightBlue);

    box-sizing: border-box;

    padding: 0;
    margin: 0%;
    width: 100%;
    /* max-width: 100%; */
    min-height: 50px;
    height: 90px;
    /* position: fixed;
    top: 0; */
    left: 0;

    display: flex;
    justify-content: left;

}

header {
    /* border: 1px solid black; */
    color: var(--Blue);
    width: 100%;
    max-width: 100%;
    height: 90px;
    min-height: 50px;
    padding: 0;
    margin: 0;

    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 5;
    font-family: montserrat;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

header h1 {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    margin: 0%;
    padding-left: 2.8rem;


    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#img_top {
    /* border: 1px solid black; */
    height: 70px;
    width: 400px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    overflow: hidden;
}

#img_top img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#menu-icon {
    /* border: 1px solid var(--text); */
    color: var(--Blue);
    max-width: 20%;
    width: 100px;
    height: 80px;
    padding: 0%;
    margin: 0%;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fa-user {
    border: 2px solid var(--Blue);
    color: var(--Blue);
    border-radius: 50%;
    padding: 10px;
    font-size: 1.5rem;

}

#main {
    /* border: 1px solid black; */
    background-color: var(--fondo);
    width: 100%;
    margin: 0;
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#contenedor_historial {
    border: 1px solid black;
    border-radius: 4px;
    background-color: var(--lightBlue);

    width: 96%;
    margin: 2%;
    min-height: 100px;
    height: 1fr;
    margin: 0%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#historial_cabeza {
    /* border: 1px solid black; */

    width: 100%;
    height: 30px;
    margin: 0%;
    padding: 0%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

        #historial_cabeza p {
            /* border: 1px solid black; */
            box-sizing: border-box;
            margin: 0%;
            width: 25%;
            height: 100%;
            color: var(--fondo);
            font-family: Notosans;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        #numero {
            width: 10px;
        }

#historial_cuerpo {
    background-color: var(--thirdty);

    width: 100%;
    min-height: 70px;
    height: 1fr;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

        .historial_entrada {
            /* border: 1px solid blue; */

            width: 100%;
            height: 30px;
            margin: 0%;

            padding: 0%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            transition: all 500ms;
            overflow: hidden;
        }

        .historial_entrada:hover {
            background-color: var(--lightBlue);
            height: 80px;
        }

        /* ~ */

        .historial_entrada:hover > .pedido_masinfo p {
            background-color: var(--lightBlue);
        }

        .historial_entrada p {
            /* border: 1px solid black; */
            /* background-color: antiquewhite; */
            box-sizing: border-box;

            width: 25%;
            height: 30px;
            margin: 0;

            font-size: 1rem;
            font-family: montserrat;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .pedido_masinfo {
            /* border: 1px solid black; */
            background-color:var(--lightBlue);

            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            transition: all 500ms;
        }

        .pedido_masinfo p {
            /* border: 1px solid black; */
            box-sizing: border-box;
            background-color: var(--thirdty);

            width: 25%;
            height: 100%;
            margin: 0;

            font-size: 1rem;
            font-family: montserrat;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        

        
@font-face {
	font-family: Montserrat;
	src: url('Montserrat-VariableFont_wght.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: opensans;
	src: url('OpenSans-VariableFont_wdth\,wght.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: notosans;
	src: url('NotoSans-Black.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: pacifico;
	src: url('Pacifico-Regular.ttf');
	font-style: normal;
	font-weight: normal;
}
