
:root {
    --fondo: #ffffff;
    --text: #222222;
    --lightBlue: #009ece;
    --Blue: #265DA6;
    --thirdty: #9BCF38;
    --yellow: #00a0a0;
    --red: #D91F11;

}

* {
    font-family: sans-serif;
    overflow-x: hidden;

}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;

    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

}

#top__of-page {
    /* border: 1px solid black; */
    background-color: var(--lightBlue);

    box-sizing: border-box;

    padding: 0;
    margin: 0%;
    width: 100%;
    /* max-width: 100%; */
    min-height: 50px;
    height: 90px;
    /* position: fixed;
    top: 0; */
    left: 0;

    display: flex;
    justify-content: left;

}

header {
    /* border: 1px solid black; */
    color: var(--Blue);
    width: 100%;
    max-width: 100%;
    height: 90px;
    min-height: 50px;
    padding: 0;
    margin: 0;

    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 5;
    font-family: montserrat;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

header h1 {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    margin: 0%;
    padding-left: 2.8rem;


    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#img_top {
    /* border: 1px solid black; */
    height: 70px;
    width: 400px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    overflow: hidden;
}

#img_top img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#menu-icon {
    /* border: 1px solid var(--text); */
    color: var(--Blue);
    max-width: 20%;
    width: 100px;
    height: 80px;
    padding: 0%;
    margin: 0%;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fa-user {
    border: 2px solid var(--Blue);
    color: var(--Blue);
    border-radius: 50%;
    padding: 10px;
    font-size: 1.5rem;

}

#main {
    /* border: 1px solid black; */
    background-color: var(--fondo);
    width: 100%;
    margin: 0;
    
    height: 1fr;

    margin: 50px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#contenedor_aviso {

    background-color: var(--lightBlue);
    border-radius: 6px;


    padding: 10px 20px;
    margin: 40px 10px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#contenedor_aviso p {
    color: var(--fondo);
    font-size: 1.1rem;
    font-family: montserrat;
    text-align: center;
}

#contenedor_historial {
    /* border: 1px solid black; */
    border-radius: 4px;
    background-color: var(--lightBlue);

    width: 96%;
    margin: 2%;
    min-height: 100px;
    height: 1fr;
    margin: 0%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#historial_cabeza {
    /* border: 1px solid black; */

    width: 100%;
    height: 30px;
    margin: 0%;
    padding: 0%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

        #historial_cabeza p {
            /* border: 1px solid black; */
            box-sizing: border-box;
            margin: 0%;
            width: 25%;
            height: 100%;
            color: var(--fondo);
            font-size: 1rem;
            font-family: Notosans;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        #numero {
            width: 10px;
        }

#historial_cuerpo {
    background-color: var(--thirdty);

    width: 100%;
    min-height: 70px;
    height: 1fr;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

        .historial_entrada {
            /* border: 1px solid blue; */

            width: 100%;
            height: 30px;
            margin: 0%;

            padding: 0%;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            transition: all 500ms;
            overflow: hidden;
        }

        .historial_entrada:hover {
            background-color: var(--lightBlue);
            height: 80px;
        }

        /* ~ */

        .historial_entrada:hover > .pedido_masinfo p {
            background-color: var(--lightBlue);
        }

        .historial_entrada p {
            /* border: 1px solid black; */
            /* background-color: antiquewhite; */
            box-sizing: border-box;

            width: 25%;
            height: 30px;
            margin: 0;

            font-size: 1rem;
            font-family: montserrat;

            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        #SinPedidos {
            width: 100%;
        }

        .pedido_masinfo {
            /* border: 1px solid black; */
            background-color:var(--lightBlue);

            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            transition: all 500ms;
        }

        .pedido_masinfo p {
            /* border: 1px solid black; */
            box-sizing: border-box;
            background-color: var(--thirdty);

            width: 25%;
            height: 100%;
            margin: 0;

            font-size: 1rem;
            font-family: montserrat;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nombre_archivo {
            text-decoration: none;
            /* border: 1px solid black; */
            border-radius: 4px;
            background-color: var(--fondo);
            color: var(--text);
            font-family: notosans;
            padding: 4px 12px;
            margin: 0%;
            margin-top: 3px;
            font-size: 0.6rem;
            text-align: center;


        }

        .nombre_archivo:hover {
            background-color: var(--text);
            color: var(--fondo);
        }


        .ID {
            text-decoration: none;
            color: var(--text);
            background-color: var(--fondo);
            border-radius: 4px;
            width: 70%;
            height: 60%;
            
            margin: 20% 15%;
            font-family: montserrat;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all;
        }

        .estado {
            /* border: 1px solid blue; */
            /* background-color: var(--red); */
            color: var(--fondo);
            border-radius: 4px;
            width: 60%;
            height: 60%;
            
            margin: 20% 20%;
            font-family: montserrat;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all;
        }

        .estadoPago {
            /* border: 1px solid blue; */
            /* background-color: var(--red); */
            color: var(--fondo);
            border-radius: 4px;
            width: 60%;
            height: 60%;
            
            margin: 20% 20%;
            font-family: montserrat;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all;
        }

        #success_message {
            background-color: #5BC0DE;
            color: #4FB04F;

            min-width: 100px;
            width: 40vw;
            height: 50px;
            position: absolute;

            top: 50px;
            margin: 0 auto;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        #success_message p {
            color: #4FB04F;
            font-size: 0.9rem;
            font-family: montserrat;
        }

        #success_message .fa-x {
            position: absolute;
            color: #4FB04F;
            top: 10px;
            right: 10px;
        }


        


.footer {
	
    width: 100%;
    height: 1fr;
    display: flex;
    padding: 2vw;
    background-color: var(--Blue);
    color: white;
    margin-top: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer__contenedor-info {
    /* border: 1px solid white; */
    min-width: 300px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.footer__contenedor-info h3 {
    /* border: 1px solid white; */
    width: 100%;
    padding-left: 1vw;
    margin: 0%;
    font-family: opensans;
    font-size: 1.4rem;
}

.footer__contenedor-info li {
    /* border: 1px solid white; */
    font-family: montserrat;
    font-size: 1rem;
    color: #fff;
    margin: 1vh;
    transition: all 600ms;

}

.footer__contenedor-info li:hover {
    transition: all 600ms;
    color: #bbb;
    border-left: 1px solid #fff;
    padding-left: 10px;
}

.footer__info {

        border: 1px solid white;
        box-sizing: border-box;


}

#footer__footer {
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    color: #ddd;
    width: 90%;
    font-family: montserrat;
    font-size: .8rem;	
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: var(--fondo);
    font-family: opensans;
}

@media screen and (max-width: 700px) {

    #menu-icon {
        display: none;
    }

    #historial_cabeza {
        height: 50px;
    }

    #historial_cabeza p {
        font-size: 0.8rem;
        text-align: center;
    }


    
    .historial_entrada {
        /* border: 1px solid blue; */

        width: 100%;
        height: 40px;
       
        transition: all 500ms;
        overflow: hidden;
    }

    .historial_entrada:hover {
        background-color: var(--lightBlue);
        height: 100px;
    }

    /* ~ */

    .historial_entrada:hover > .pedido_masinfo p {
        background-color: var(--lightBlue);
    }

    .historial_entrada p {
        /* border: 1px solid black; */
        /* background-color: antiquewhite; */
        box-sizing: border-box;

        width: 25%;
        height: 40px;
        margin: 0;

        font-size: 0.9rem;
        font-family: montserrat;

    }

    .pedido_masinfo {
        /* border: 1px solid black; */
        background-color:var(--lightBlue);

        width: 100%;
        height: 50px;


        transition: all 500ms;
    }

    .pedido_masinfo p {
        /* border: 1px solid black; */
        box-sizing: border-box;
        background-color: var(--thirdty);

        width: 25%;
        height: 100%;
        margin: 0;

        font-size: 1rem;
        font-family: montserrat;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nombre_archivo {
        text-decoration: none;
        /* border: 1px solid black; */
        border-radius: 4px;

        padding: 2px 6px;
        margin: 0%;
        margin-top: 3px;
        font-size: 0.6rem;
    }

    .ID {
        text-decoration: none;
        color: var(--text);
        background-color: var(--fondo);
        border-radius: 4px;
        width: 80%;
        height: 86%;
        
        margin: 7% 10%;
        font-family: montserrat;
        font-size: 0.9rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all;
    }

    .estado {
        /* border: 1px solid blue; */
        /* background-color: var(--red); */
        color: var(--fondo);
        border-radius: 4px;
        width: 80%;
        height: 70%;
        
        margin: 15% 10%;
        font-family: montserrat;
        font-size: 0.9rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all;
    }

    .estadoPago {
        /* border: 1px solid blue; */
        /* background-color: var(--red); */
        color: var(--fondo);
        border-radius: 4px;
        width: 80%;
        height: 70%;
        
        margin: 15% 10%;
        font-family: montserrat;
        font-size: 0.9rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all;
    }


}


        
@font-face {
	font-family: Montserrat;
	src: url('Montserrat-VariableFont_wght.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: opensans;
	src: url('OpenSans-VariableFont_wdth\,wght.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: notosans;
	src: url('NotoSans-Black.ttf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: pacifico;
	src: url('Pacifico-Regular.ttf');
	font-style: normal;
	font-weight: normal;
}
